ValidationXSDXML/misc/PresenceAbsenceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PresenceAbsence" targetNamespace="https://aquaris.siemens.net/PresenceAbsence.xsd" elementFormDefault="qualified"
  xmlns="https://aquaris.siemens.net/PresenceAbsence.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="ba" id="ba">
		<xsd:attribute name="Date" type="xsd:date" id="dateAttribute" />
		<xsd:attribute name="GID" id="gidAttribute">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z0-9]{8}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Organisation" id="organisationAttribute">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="500"/>
				</xsd:restriction>				
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="oa" id="oa">
		<xsd:attribute name="DayType" id="dayTypeAttribute">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Workday"/>
					<xsd:enumeration value="Weekend"/>
					<xsd:enumeration value="Sickness"/>
					<xsd:enumeration value="Holiday"/>
					<xsd:enumeration value="Planned Vacation"/>
					<xsd:enumeration value="Vacation"/>
					<xsd:enumeration value="Absence"/>
					<xsd:enumeration value="Short-time"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="StartTime" type="xsd:time" id="startTimeAttribute" use="optional" default="00:00:00"/>
		<xsd:attribute name="EndTime" type="xsd:time" id="endTimeAttribute" use="optional" default="00:00:00"/>
	</xsd:attributeGroup>
	<xsd:element name="create" id="createElement">
		<xsd:complexType>
			<xsd:attributeGroup ref="ba"/>
			<xsd:attributeGroup ref="oa"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="update" id="updateElement">
		<xsd:complexType>
			<xsd:attributeGroup ref="ba"/>
			<xsd:attributeGroup ref="oa"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="delete" id="deleteElement">
		<xsd:complexType>
			<xsd:attributeGroup ref="ba"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pa" id="PresenceAbsenceElement">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="create"/>
				<xsd:element ref="update"/>
				<xsd:element ref="delete"/>
			</xsd:choice>
			<xsd:attribute name="Version" id="versionAttribute">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>