ValidationXSDXML/misc/PresenceAbsenceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PresenceAbsence" elementFormDefault="qualified" attributeFormDefault="unqualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:attributeGroup name="ba" id="ba">
        <xsd:attribute name="Date" type="xsd:date" id="AttributeDate"/>
        <xsd:attribute name="GID" id="AttributeGid" default="Z0024KJP">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z0-9]{8}" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IdOrganisation" id="AttributeIdOrganisation" type="xsd:positiveInteger" default="61"/>
    </xsd:attributeGroup>
    <xsd:attributeGroup name="oa" id="oa">
        <xsd:attribute name="IdDayType" id="AttributeIdDayType" default="1">
            <xsd:simpleType>
                <xsd:restriction base="xsd:positiveInteger">
                    <xsd:enumeration value="1" id="EnumWorkday"/>
                    <xsd:enumeration value="2" id="EnumWeekend"/>
                    <xsd:enumeration value="3" id="EnumSickness"/>
                    <xsd:enumeration value="4" id="EnumHoliday"/>
                    <xsd:enumeration value="5" id="EnumPlannedVacation"/>
                    <xsd:enumeration value="6" id="EnumVacation"/>
                    <xsd:enumeration value="7" id="EnumAbsence"/>
                    <xsd:enumeration value="8" id="EnumShortTime"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="StartTime" type="xsd:time" id="AttributeStartTime" use="optional" default="06:00:00"/>
        <xsd:attribute name="EndTime" type="xsd:time" id="AttributeEndTime" use="optional" default="14:21:00"/>
    </xsd:attributeGroup>
    <xsd:element name="create" id="ElementCreate">
        <xsd:complexType>
            <xsd:attributeGroup ref="ba"/>
            <xsd:attributeGroup ref="oa"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="update" id="ElementUpdate">
        <xsd:complexType>
            <xsd:attributeGroup ref="ba"/>
            <xsd:attributeGroup ref="oa"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="delete" id="ElementDelete">
        <xsd:complexType>
            <xsd:attributeGroup ref="ba"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="pa" id="ElementPresenceAbsence">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="create"/>
                <xsd:element ref="update"/>
                <xsd:element ref="delete"/>
            </xsd:choice>
            <xsd:attribute name="Version" id="AttributeVersion" default="1.0d">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>